@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --fq-primary: #f36f21;
  --fq-primary-hover: #f7941d;
  --fq-accent: #fbb040;

  --fq-text: #1f2933;
  --fq-muted: #6b7280;
  --fq-border: #e5e7eb;
  --fq-bg: #ffffff;
}


* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}